<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forbitbd.myfin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".FinanceActivity"></activity>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />


    </application>

</manifest>